services:

  # -----------------------------------------------------------
  # LOCALSTACK
  # -----------------------------------------------------------
  localstack:
    image: localstack/localstack:3.3
    container_name: localstack
    environment:
      - SERVICES=sqs,dynamodb,s3,secretsmanager
      - EDGE_PORT=4566
      - AWS_DEFAULT_REGION=sa-east-1
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    ports:
      - "4566:4566"
    volumes:
      - localstack_data:/var/lib/localstack
      - ./scripts-aws:/etc/localstack/init/ready.d
      - /var/run/docker.sock:/var/run/docker.sock

    healthcheck:
      test: [ "CMD", "awslocal", "sqs", "list-queues" ]
      interval: 5s
      timeout: 3s
      retries: 30


  # -----------------------------------------------------------
  # MYSQL
  # -----------------------------------------------------------
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: minha_base
      MYSQL_USER: spring
      MYSQL_PASSWORD: spring123
    ports:
      - "3305:3306"
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 3s
      retries: 15
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d



    # -----------------------------------------------------------
  # SPRING BOOT
  # -----------------------------------------------------------
  gestor-ativos-brutos:
    build:
      context: ./gestor-ativos-brutos
    container_name: gestor-ativos-brutos
    restart: always
    depends_on:
      mysql:
        condition: service_started
      localstack:
        condition: service_healthy
    ports:
      - "8091:8091"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      AWS_REGION: sa-east-1
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_SQS_ENDPOINT_BASE: http://localstack:4566
      AWS_SQS_QUEUE_URL: http://localstack:4566/000000000000/tratar-ativos

    volumes:
      - ./logs/java:/var/log/myapp


  # -----------------------------------------------------------
  # PYTHON WORKER
  # -----------------------------------------------------------
  gerar-insights:
    build:
      context: ./gerar-insights
    container_name: gerar-insights
    ports:
      - "8080:8080"
    volumes:
      - ./gerar-insights/output_charts:/app/output_charts
    depends_on:
      mysql:
        condition: service_healthy
      localstack:
        condition: service_healthy
    environment:
      ENVIRONMENT: docker
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: spring
      DB_PASS: spring123
      DB_NAME: minha_base
      LOCALSTACK_ENDPOINT: http://localstack:4566
      AWS_REGION: sa-east-1
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      QUEUE_NAME: tratar-ativos

      # Application Configuration
      LOG_LEVEL: INFO
      RETRY_ATTEMPTS: 3
      RETRY_DELAY: 10

# -----------------------------------------------------------
# VOLUMES
# -----------------------------------------------------------
volumes:
  mysql_data:
  localstack_data:

