services:

  # -----------------------------------------------------------
  # LOCALSTACK
  # -----------------------------------------------------------
  localstack:
    image: localstack/localstack:3.3
    container_name: localstack
    environment:
      - SERVICES=sqs,dynamodb,s3,secretsmanager
      - EDGE_PORT=4566
      - AWS_DEFAULT_REGION=sa-east-1
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    ports:
      - "4566:4566"
    volumes:
      - localstack_data:/var/lib/localstack
      - ./scripts-bash:/etc/localstack/init/ready.d
      - /var/run/docker.sock:/var/run/docker.sock

    healthcheck:
      test: ["CMD", "awslocal", "sqs", "list-queues"]
      interval: 5s
      timeout: 3s
      retries: 30


  # -----------------------------------------------------------
  # MYSQL
  # -----------------------------------------------------------
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: minha_base
      MYSQL_USER: spring
      MYSQL_PASSWORD: spring123
    ports:
      - "3305:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d


  # -----------------------------------------------------------
  # SPRING BOOT
  # -----------------------------------------------------------
  gestor-ativos-brutos:
    build:
      context: ./gestor-ativos-brutos
    container_name: gestor-ativos-brutos
    restart: always
    depends_on:
      mysql:
        condition: service_started
      localstack:
        condition: service_healthy
    ports:
      - "8091:8091"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/minha_base
      SPRING_DATASOURCE_USERNAME: spring
      SPRING_DATASOURCE_PASSWORD: spring123
      SPRING_SQL_INIT_MODE: never

      AWS_REGION: sa-east-1
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test

      AWS_SQS_ENDPOINT_BASE: http://localstack:4566
      AWS_SQS_QUEUE_URL: http://localstack:4566/000000000000/tratar-ativos

    volumes:
      - ./logs/java:/var/log/myapp


  # -----------------------------------------------------------
  # PYTHON WORKER
  # -----------------------------------------------------------
  gerar-insights:
    build:
      context: ./gerar-insights
    container_name: gerar-insights
    restart: always
    depends_on:
      mysql:
        condition: service_started
      localstack:
        condition: service_healthy
    environment:
      LOCALSTACK_ENDPOINT: http://localstack:4566
      QUEUE_NAME: tratar-ativos



  # -----------------------------------------------------------
  # LOKI
  # -----------------------------------------------------------
  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml


  # -----------------------------------------------------------
  # PROMTAIL
  # -----------------------------------------------------------
  promtail:
    image: grafana/promtail:2.9.4
    container_name: promtail
    depends_on:
      - loki
    volumes:
      - ./promtail/promtail-config.yaml:/etc/promtail/config.yaml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/log:/var/log:ro
      - /tmp:/tmp
      - /etc/machine-id:/etc/machine-id:ro
    command: -config.file=/etc/promtail/config.yaml


  # -----------------------------------------------------------
  # GRAFANA
  # -----------------------------------------------------------
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - loki


# -----------------------------------------------------------
# VOLUMES
# -----------------------------------------------------------
volumes:
  mysql_data:
  localstack_data:
  grafana-data:
