<configuration scan="true" scanPeriod="30 seconds">

    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <!-- pega do env via Spring -->
        <url>${SPLUNK_HEC_URL}</url>
        <token>${SPLUNK_HEC_TOKEN}</token>
        <index>main</index>
        <sourcetype>json</sourcetype>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- Console normal -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SPLUNK" />
    </root>
</configuration>
